<h2>Tickets</h2>
<crispr-form [config]="filterConfig" (valueChanges)="updateFilter($event)"></crispr-form>
<ul>
    <li *ngFor="let t of filteredTickets$ | async" class="ticket-item" e2e-ticket-item>
        <span>
            Ticket: {{ t.id }}, {{ t.description }}
            <span *ngIf="t.assigneeName">
                (Assigned to: {{t.assigneeName}})
            </span>
        </span>
        <span>
            <mat-icon *ngIf="t.completed">done</mat-icon>
            <a [routerLink]="['ticket', t.id]" mat-button color="accent"> DETAILS</a>
        </span>
    </li>
</ul>

<crispr-form *ngIf="(creatingTicket$ | async) !== true; else updating" [config]="newTicketConfig" (submitted)="createNewTicket($event)"></crispr-form>
<ng-template #updating>
    <span>Updating</span>
</ng-template>